.heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 2.4rem;
  padding: 12.8rem 1rem;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: 2.4rem 0;
}
