.footer {
  background-color: #f1f4f8;
}

.footerInner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 9.6rem 3.2rem;
  grid-gap: 2.4rem;
  justify-items: center;
  align-items: start;
}

.footerInner a {
  color: #869ab8;
  font-size: 1.4rem;
}
.footerItem {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footerItemHeading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #384c74;
}

.footerItemList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
