@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

button {
  border: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary {
  font-size: 4.4rem;
  line-height: 1.1;
  font-weight: 500;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
}

.description {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #869ab8;
}

.btn,
.btn:link,
.btn:visited {
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 7px;
  font-size: 1.6rem;
}
.btn--primary {
  background-color: #335eea;
}

.btn--secondary {
  background-color: #506690;
}

.btn--tertiary {
  background-color: #869ab8;
}

.toggle-switch {
  margin: 1rem 1.5rem;
}
.toggle-switch .switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}
.toggle-switch .switch input {
  opacity: 0;
  height: 0;
  width: 0;
}
.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
}
.toggle-switch .slider:before {
  position: absolute;
  content: '';
  height: 1.3rem;
  width: 1.3rem;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.3s;
}
.toggle-switch .slider.round {
  border-radius: 3.4rem;
}
.toggle-switch .slider.round::before {
  border-radius: 50%;
}
.toggle-switch input:checked + .slider {
  background: #fff;
}
.toggle-switch input:checked + .slider::before {
  transform: translateX(2rem);
  background-color: #2196f3;
}
.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
